
* {
  margin: 0;
  padding: 0;
}

.btn_group {
  width: 200px;
  padding: 10px 5px;
}

.btn {
  padding: 3px 5px;
  background: #e2e2e2;
  color: #000000;
  border-radius: 5px;
  border: 1px solid rgba(115,115,115, 0.2);
  outline: none;
}

.active {
  background: #0f81e7;
  color: #fafafa;
}

#swatch {
  display: flex;
  align-items: center;
  width: 180px;
  height: 100px;
  margin-top: 18px;
  background: #ff0000;
  margin-left: 350px;
}
#HSLSlider {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
  background: linear-gradient(to right, red, orange, yellow, lime, aqua, blue, purple, red);
}


#HSLSlider .ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #000000;
  background-color: red;
  outline: none;
}
